<div class="container">
  <h1 class="title">My Tasks</h1>
  <div class="container">
    <ul>
      <% @tasks.each do |task| %>
        <li><%= link_to task.title, task_path(task) %></li>
      <% end %>
    </ul>
  </div>
  <p class="new-task"><%= link_to 'Add new task', new_path %></p>
</div>
